* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    padding: 40px 0;
    color: var(--blue);
}

.container {
    max-width: 1200px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 30% 70%;
}

/* Aside */
aside {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

aside div {
    margin-bottom: 10px;
}

aside label {
    padding-left: 10px;
    font-weight: 500;
}