.recipe {
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #2a9d8f;
    align-items: center;
    width: 300px;
    min-width: 40%;
}

.recipeImg {
    border-radius: 50%;
    width: 50%;
    height: auto;
}
