@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d3557;
  font-family: "Nunito", sans-serif;
  color: #fff;
}

#main-flex {
  width: 400px;
  height: 450px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
}

.image {
  border-radius: 5px;
}
.infos {
  padding: 20px 10px;
}
.infos .name {
  font-weight: 900;
  font-size: 20px;
}
.infos .distance {
  font-size: 16px;
  opacity: 0.8;
}
.icons {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.icons .fas {
  cursor: pointer;
  font-size: 40px;
}
.icons .fas:hover {
  transform: scale(1.3);
}
.icons .fa-heart {
  color: green;
}
.icons .fa-ban {
  color: red;
}
