<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page <%= 5+5+1 %></h1>
    <p>
        <%= 'hello world'.toUpperCase() %> ipsum dolor sit amet consectetur adipisicing elit. Unde, illo
      temporibus sequi facere in consequuntur nam dolores vitae ad sit!
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, autem.</p>
  </body>
</html>
