.shorten {
  background-image: url("../../../assets/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shorten-bg {
  background-image: linear-gradient(180deg, #ffffff 50%, #e2e8f0 50%);
}

/* Loading */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

@media screen and (max-width: 640px) {
  .shorten {
    background-image: url("../../../assets/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
